<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: page_head('Login page')" />
<body>
	<section class="vh-90 gradient-custom">
		<div class="container py-5 h-100">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-12 col-md-8 col-lg-6 col-xl-5">
					<div class="card bg-dark text-white" style="border-radius: 1rem;">
						<div class="card-body p-5 text-center">

							<div class="mb-md-5 mt-md-4 pb-5">

								<h2 class="fw-bold mb-2 text-uppercase">Login</h2>
								<br>
								<br>
								<form method="post" th:action="@{/login}">
									<div th:if="${param.error}">
										<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
									</div>
									<div th:if="${param.logout}">
										<p class="text-warning">You have been logged out.</p>
									</div>
									<div data-mdb-input-init class="form-outline form-white mb-4">
										<input type="email" name="email"
											placeholder="Enter your email"
											class="form-control form-control-lg" />
									</div>

									<div data-mdb-input-init class="form-outline form-white mb-4">
										<input type="password" name="password"
											placeholder="Enter your password"
											class="form-control form-control-lg" />
									</div>

									<!-- Checkbox -->
									<div class="form-check d-flex justify-content-start mb-4">
										<input class="form-check-input" type="checkbox"
											name="remember-me" /> &nbsp; <label class="form-check-label"
											for="form1Example3"> Remember me </label>
									</div>

									<p class="small mb-5 pb-lg-2">
										<a class="text-white-50" href="#!">Forgot password?</a>
									</p>

									<button data-mdb-button-init data-mdb-ripple-init
										class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
								</form>


							</div>

							<div>
								<p class="mb-0">
									Don't have an account? <a href="#!"
										class="text-white-50 fw-bold">Sign Up</a>
								</p>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>